.estimate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 18px 0;
    &_info {
        a {
            display: block;
            color: white;
            font-size: 18px;
            line-height: 21px;

            &:hover {
                color: rgb(211, 211, 211);
            }
        }
        span {
            color: white;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            margin-top: 10px;
            display: inline-block;
        }
        p {
            color: white;
            font-size: 18px;
            line-height: 21px;
            margin-top: 10px;
        }
    }
    &_services {
        display: flex;
        position: relative;
        ul {

            li {
                margin-right: 25px;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                margin-bottom: 15px;
                margin-top: 15px;
                img {
                    margin-right: 10px;
                }
            }
        }
        button {
            display: flex;
            align-items: center;
            padding: 8px 30px;
            background: #3FCB5D;
            border-radius: 20px;
            border: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            position: absolute;
            top: 111px;
            right: 0;
            img {
                margin-right: 15px;
            }
        }
    }
}