.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px 18px 0px;
    nav { 
        ul {
            display: flex;
            li {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                margin-right: 30px;
                cursor: pointer;
                position: relative;

                &:hover {
                    color: #5350FF;

                    &::after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        bottom: -6px;
                        left: 0px;
                        height: 2px;
                        background-color: #4058FF;
                    }
                }
            }
        }
    }
    &_main {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-info {
            h1 {
                font-size: 48px;
                line-height: 56px;
                color: #000000;
            }
            ul {
                margin-top: 15px;
                li {
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                    margin-top: 15px;
                    img {
                        margin-right: 10px;
                    }
                }
            }
            span {
                font-family: Roboto;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                font-weight: 700;
                margin-top: 15px;
                margin-bottom: 25px;
                display: inline-block;
            }
        }
        &-price {
            color: #5350FF !important;
            font-size: 20px !important; 
            margin-left: 6px;
        }
    }
}